@using BestRestaurants.Models;

@using System.Collections.Generic;

@{
    Layout = "_Layout";
    var r = ViewBag.restaurants as List<Restaurant>;
}

<h1>@($"{ViewBag.cuisine.Name}")</h1>
<h3>@($"{ViewBag.cuisine.Country}")</h3>
<p>@($"{ViewBag.cuisine.Description}")</p>


    @for (var i =0; i<r.Count; i++)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                 <input type="hidden" name="Id" value=@($"{r[i].RestaurantId}")>
                 <input type="hidden" name="cuisineId" value=@($"{ViewBag.cuisine.Id}")>
                <a href="@($"/cuisine/{ViewBag.cuisine.Id}/restaurant/{r[i].RestaurantId}")"><h5 class="card-title">@($"{r[i].Name}")</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">@($"{ViewBag.rating[i]}")</h6>
                <p class="card-text">@($"{r[i].Description}")</p>
            </div>
        </div>
    }

